.card {
    background-color: #e0dfdf;
    padding: 10px 0px;
    margin-bottom: 30px;
}

.card .card-title {
    height: 92px;
    cursor: pointer;
    /* overflow: hidden; */
}

.card .card-title,
.card .card-info,
.card .card-description {
    padding: 0px 10px;
}

.card .card-info {
    padding-bottom: 5px;
    font-size: 14px;
}

.card .card-info .card-author {
    margin-right: 5px;
}

.card .card-info .card-date {
    margin-left: 5px;
    position: absolute;
    right: 15px;
}

.card .card-image img {
    width: 100%;
    height: 178px;
}

.card .card-description {
    padding-top: 10px;
    font-size: 14px;
    height: 73px;
}