.navbar .navbar-brand { 
    font-weight: bold;
}

.navbar .navbar-brand i {
    margin-right: 5px;
}

.navbar .nav-buttons {
    right: 10px;
    position: absolute;
}

.navbar .nav-buttons button {
    margin-left: 10px;
}

.navbar .nav-buttons .btn i {
    margin-right: 3px;
}

.navbar .nav-buttons .hidden-link {
    cursor: pointer;
}

.navbar .form-group {
    position: absolute;
    right: 15px;
    top: 9px;
}

.navbar .form-group .form-control {
    border-radius: 0px;
}

@media (max-width: 425px) {
    .navbar .nav-buttons button {
        font-size: 12px;
    }
}

@media (max-width: 755px) {
    .navbar .nav-buttons {
        right: 0px;
        position: static;
        padding: 10px 0 5px;
        text-align: center;
    }
}